Repository the-dr-lazy/purescript-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-yaml, nix-linter, nixpkgs-fmt

check-json:
  name: Check JSON
  language: system
  entry: check-json

check-yaml:
  name: Check Yaml
  language: system
  entry: check-yaml

nix-linter:
  name: nix-linter
  language: system
  entry: nix-linter

nixpkgs-fmt:
  name: Format Nix files
  language: system
  entry: nixpkgs-fmt

feat: add non-FRP subscription
  example/src/Counter/Main.purs
  src/Monarch/Behavior.purs
  src/Monarch/Command.purs
  src/Monarch/Document.purs
  src/Monarch/Document.ts
  src/Monarch/Event.purs
  src/Monarch/Queue.purs
Due: none

feat: remove input from document
  example/src/Counter/Main.purs
  src/Monarch/Document.purs
  src/Monarch/Document.ts
Due: none

fix: rename init to initialModel
  example/src/Counter/Main.purs
  src/Monarch/Document.purs
Due: none

refactor: sort lines
  src/Monarch/Document.purs
Due: none

feat: make subscription part of life cycle
  example/spago.dhall
  example/src/Counter/Main.purs
  src/Monarch/Document.purs
  src/Monarch/Document.ts
Due: none

chore(dependencies): add nullable dependency
  spago.dhall
Due: none

feat: rename Document to Application
  example/src/Counter/Effect/Api.purs
  example/src/Counter/Main.purs
  src/Monarch/Application.purs
  src/Monarch/Application.ts
  src/Monarch/Application/Internal.ts
  src/Monarch/Command.purs
  src/Monarch/Effect.purs
  src/Monarch/Effect/Application.purs
  src/polyfills.ts
  src/types.d.ts
  tsconfig.json
Due: check-json

style: formatting
  src/Monarch/Command.purs
  src/Monarch/Document.purs
Due: none

feat: make virtual DOM elements polymorphic
  example/src/Counter/Main.purs
  spago.dhall
  src/Monarch/Html.purs
  src/Monarch/Svg.purs
  src/Monarch/Type/Row.purs
  src/Monarch/VirtualDom/Facts.purs
  src/Monarch/VirtualDom/NS.purs
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: none

chore(dependencies): add missing asap package
  package-lock.json
  package.json
Due: check-json

fix: scheduler time promotion
  src/Monarch/Scheduler.ts
Due: none

chore: upgrade PureScript@0.14.4
  flake.lock
  flake.nix
  shell.nix
Due: nix-linter, nixpkgs-fmt

chore(shell.nix): add git flow CLI
  shell.nix
Due: nix-linter, nixpkgs-fmt

refactor: remove redundant instance names
  example/src/Counter/API.purs
  src/Monarch/Command.purs
  src/Monarch/Type/Row.purs
  src/Monarch/Type/RowList.purs
  src/Monarch/VirtualDom/Facts/Attributes.purs
  src/Monarch/VirtualDom/NS.purs
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/Web/Window.purs
Due: none

refactor: use polykind for defining Row to RowList conversion
  src/Monarch/Type/Row.purs
  src/Monarch/Type/RowList.purs
Due: none

feat: w3c event api wrapper for virtual DOM
  src/Monarch/VirtualDom/Event.purs
  src/Monarch/VirtualDom/Event.ts
  src/Monarch/VirtualDom/Event/CustomEvent.purs
  src/Monarch/VirtualDom/Event/CustomEvent.ts
  src/Monarch/VirtualDom/Event/Handle.purs
  src/Monarch/VirtualDom/Event/UiEvent.purs
  src/Monarch/VirtualDom/Event/UiEvent.ts
  src/Monarch/VirtualDom/Event/UiEvent/MouseEvent.purs
  src/Monarch/VirtualDom/Event/UiEvent/MouseEvent.ts
Due: none

chore(shell.nix): add purs-tidy exe
  flake.lock
  flake.nix
  shell.nix
Due: nix-linter, nixpkgs-fmt

chore(pre-commit): add PureScript code style step
  .pre-commit-config.yaml
  .tidyoperators
  .tidyrc.json
Due: check-json, check-yaml

style: format codebase with purs-tidy
  example/src/Counter/API.purs
  example/src/Counter/Main.purs
  src/Monarch.purs
  src/Monarch/Command.purs
  src/Monarch/Document.purs
  src/Monarch/Html.purs
  src/Monarch/Html/Facts/Attributes.purs
  src/Monarch/Html/Facts/Properties.purs
  src/Monarch/Monad/Maybe.purs
  src/Monarch/Svg.purs
  src/Monarch/Svg/Facts/Attributes.purs
  src/Monarch/Type/Maybe.purs
  src/Monarch/Type/RowList.purs
  src/Monarch/VirtualDom/Facts.purs
  src/Monarch/VirtualDom/Facts/Attributes.purs
  src/Monarch/VirtualDom/Facts/Hooks.purs
  src/Monarch/VirtualDom/Facts/Outputs.purs
  src/Monarch/VirtualDom/Facts/Properties.purs
  src/Monarch/VirtualDom/NS.purs
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/VirtualDom/VirtualDomTree/Prelude.purs
Due: none

refactor: every Leaf is a Node
  src/Monarch/VirtualDom/VirtualDomTree.purs
Due: none

refactor: use snake case for type variables
  src/Monarch/Html.purs
  src/Monarch/Svg.purs
  src/Monarch/VirtualDom/Facts.purs
  src/Monarch/VirtualDom/VirtualDomTree.purs
Due: none

feat: format remnant PureScript source code
  example/test/Main.purs
  test/Main.purs
Due: none

fix: UiEvent.view type signature
  src/Monarch/VirtualDom/Event/UiEvent.purs
  src/Monarch/VirtualDom/Event/UiEvent.ts
Due: none

fix: foreign interface of mkElementNS
  src/Monarch/VirtualDom/VirtualDomTree.purs
Due: none

feat: make virtual DOM API uniform
  example/src/Counter/Main.purs
  src/Monarch/Document.purs
  src/Monarch/Html.purs
  src/Monarch/Html.ts
  src/Monarch/Svg.purs
  src/Monarch/Svg.ts
  src/Monarch/VirtualDom/NS.purs
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: none

feat: track slots and facts row extension in VirtualDomTree type
  example/src/Counter/Main.purs
  spago.dhall
  src/Monarch/Application.purs
  src/Monarch/Html.purs
  src/Monarch/Svg.purs
  src/Monarch/Type/Row.purs
  src/Monarch/VirtualDom/Facts.purs
  src/Monarch/VirtualDom/Slots.purs
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: none

fix: VirtualDomTree.mkElementNS
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: none

fix: revert FFI usage for HTML and SVG API
  src/Monarch/Html.purs
  src/Monarch/Html.ts
  src/Monarch/Svg.purs
  src/Monarch/Svg.ts
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: none

refactor: use standalone kind signature
  src/Monarch/VirtualDom/VirtualDomTree.purs
Due: none

Path conditions:
  check-json: any of: \.json$, but not: (nix/sources.nix$)
  check-yaml: any of: \.(yaml|yml)$, but not: (nix/sources.nix$)
  nix-linter: any of: \.nix$, but not: (nix/sources.nix$)
  nixpkgs-fmt: any of: \.nix$, but not: (nix/sources.nix$)
