Repository the-dr-lazy/purescript-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-yaml, nix-linter, nixpkgs-fmt

check-json:
  name: Check JSON
  language: system
  entry: check-json

check-yaml:
  name: Check Yaml
  language: system
  entry: check-yaml

nix-linter:
  name: nix-linter
  language: system
  entry: nix-linter

nixpkgs-fmt:
  name: Format Nix files
  language: system
  entry: nixpkgs-fmt

refactor: rename downstream_outputs to facts_r
  src/Monarch/Application.purs
  src/Monarch/Html.purs
Due: none

feat: factor out facts_r
  spago.dhall
  src/Monarch/Application.purs
  src/Monarch/VirtualDom/Facts.purs
Due: none

feat: don't track bubbles and composed in events
  src/Monarch/VirtualDom/Event.purs
  src/Monarch/VirtualDom/Event/CustomEvent.purs
  src/Monarch/VirtualDom/Event/CustomEvent.ts
  src/Monarch/VirtualDom/Event/Handle.purs
  src/Monarch/VirtualDom/Event/UiEvent.purs
  src/Monarch/VirtualDom/Event/UiEvent/MouseEvent.purs
  src/Monarch/VirtualDom/Facts/Outputs.purs
Due: none

feat: element machinery
  example/spago.dhall
  example/src/Counter/Elements/Counter.purs
  example/src/Counter/Main.purs
  package-lock.json
  package.json
  src/Monarch/Element.purs
  src/Monarch/Element.ts
  src/Monarch/Element/Internal.ts
  src/Monarch/Html.purs
  src/Monarch/Html/Facts/Attributes.purs
  src/Monarch/Html/Facts/Outputs.purs
  src/Monarch/Html/Facts/Properties.purs
  src/Monarch/State.ts
  src/Monarch/Type/Row.purs
  src/Monarch/Type/Symbol.purs
  src/Monarch/VirtualDom/Facts.ts
Due: check-json

feat: format remnant PureScript source code
  example/test/Main.purs
  test/Main.purs
Due: none

chore(pre-commit): add PureScript code style step
  .pre-commit-config.yaml
  .tidyoperators
  .tidyrc.json
Due: check-json, check-yaml

style: format codebase with purs-tidy
  example/src/Counter/API.purs
  example/src/Counter/Main.purs
  src/Monarch.purs
  src/Monarch/Command.purs
  src/Monarch/Document.purs
  src/Monarch/Html.purs
  src/Monarch/Html/Facts/Attributes.purs
  src/Monarch/Html/Facts/Properties.purs
  src/Monarch/Monad/Maybe.purs
  src/Monarch/Svg.purs
  src/Monarch/Svg/Facts/Attributes.purs
  src/Monarch/Type/Maybe.purs
  src/Monarch/Type/RowList.purs
  src/Monarch/VirtualDom/Facts.purs
  src/Monarch/VirtualDom/Facts/Attributes.purs
  src/Monarch/VirtualDom/Facts/Hooks.purs
  src/Monarch/VirtualDom/Facts/Outputs.purs
  src/Monarch/VirtualDom/Facts/Properties.purs
  src/Monarch/VirtualDom/NS.purs
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/VirtualDom/VirtualDomTree/Prelude.purs
Due: none

chore(shell.nix): add purs-tidy exe
  flake.lock
  flake.nix
  shell.nix
Due: nix-linter, nixpkgs-fmt

feat: move children to facts
  example/src/Counter/Main.purs
  src/Monarch/Html.purs
  src/Monarch/Svg.purs
  src/Monarch/VirtualDom/Facts.purs
  src/Monarch/VirtualDom/Facts.ts
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: none

feat: make virtual DOM API uniform (#41)
  example/src/Counter/Main.purs
  src/Monarch/Document.purs
  src/Monarch/Html.purs
  src/Monarch/Svg.purs
  src/Monarch/VirtualDom/Facts.purs
  src/Monarch/VirtualDom/Facts.ts
  src/Monarch/VirtualDom/NS.purs
  src/Monarch/VirtualDom/VirtualDomTree.purs
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: none

feat: add lerna to shell.nix
  shell.nix
Due: nix-linter, nixpkgs-fmt

refactor: use relative imports
  packages/purescript-monarch-core/package-lock.json
  packages/purescript-monarch-core/src/Document.ts
  packages/purescript-monarch-core/src/VirtualDom.ts
  packages/purescript-monarch-core/src/VirtualDom/Facts.ts
  packages/purescript-monarch-core/src/VirtualDom/Patch.ts
  packages/purescript-monarch-core/src/VirtualDom/PatchTree.ts
  packages/purescript-monarch-core/src/VirtualDom/ReorderHistory.ts
  packages/purescript-monarch-core/src/VirtualDom/VirtualDomTree.ts
Due: check-json

chore: remove path aliases from tsconfig
  tsconfig.json
Due: check-json

chore: fix packages to get build
  .gitignore
  packages/purescript-monarch-core/package.json
  packages/purescript-monarch-core/src/types.d.ts
  packages/purescript-monarch-core/tsconfig.json
  packages/purescript-monarch/package.json
  packages/purescript-monarch/packages.dhall
  packages/purescript-monarch/spago.dhall
  packages/purescript-monarch/src/Monarch/VirtualDom/VirtualDomTree.ts
  packages/purescript-monarch/tsconfig.json
Due: check-json

ci: fix it to use lerna
  .github/workflows/ci.yml
  package-lock.json
  packages/purescript-monarch-core/package-lock.json
  packages/purescript-monarch/package-lock.json
Due: check-json, check-yaml

Revert "ci: fix it to use lerna"
  .github/workflows/ci.yml
Due: check-yaml

chore: remove lerna from gitignore
  .gitignore
Due: none

docs: thebrodmann -> the-dr-lazy
  README.md
Due: none

chore: @purescript-monarch/core -> purescript-monarch, lib -> core
  .gitignore
  core/Document.ts
  core/Scheduler.ts
  core/VirtualDom.ts
  core/VirtualDom/ChildNodeByKeyMap.ts
  core/VirtualDom/DiffWork.ts
  core/VirtualDom/Facts.ts
  core/VirtualDom/OutputHandlersList.ts
  core/VirtualDom/Patch.ts
  core/VirtualDom/PatchTree.ts
  core/VirtualDom/ReorderHistory.ts
  core/VirtualDom/VirtualDomTree.ts
  core/types.d.ts
  package-lock.json
  package.json
  src/Monarch/Document.ts
  src/Monarch/VirtualDom/VirtualDomTree.ts
  tsconfig.json
Due: check-json

ci: change triggers
  .github/workflows/ci.yml
  .github/workflows/style.yml
Due: check-yaml

ci: add `next` branch to push trigger
  .github/workflows/ci.yml
Due: check-yaml

Path conditions:
  check-json: any of: \.json$, but not: (nix/sources.nix$)
  check-yaml: any of: \.(yaml|yml)$, but not: (nix/sources.nix$)
  nix-linter: any of: \.nix$, but not: (nix/sources.nix$)
  nixpkgs-fmt: any of: \.nix$, but not: (nix/sources.nix$)
