Repository the-dr-lazy/purescript-monarch: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, check-yaml, nix-linter, nixpkgs-fmt

.pre-commit-config.yaml:

exclude: '(nix/sources.nix$)'
repos:
    - repo: local
      hooks:
          - name: Check for case conflicts
            id: check-case-conflict
            language: system
            entry: check-case-conflict

          - name: Check JSON
            id: check-json
            types: [json]
            language: system
            entry: check-json

          - name: Check for merge conflicts
            id: check-merge-conflict
            types: [text]
            language: system
            entry: check-merge-conflict

          - name: Check for broken symlinks
            id: check-symlinks
            types: [symlink]
            language: system
            entry: check-symlinks

          - name: Check vcs permalinks
            id: check-vcs-permalinks
            types: [text]
            language: system
            entry: check-vcs-permalinks

          - name: Check Yaml
            id: check-yaml
            types: [yaml]
            language: system
            entry: check-yaml

          - name: Fix End of Files
            id: end-of-file-fixer
            types: [text]
            language: system
            entry: end-of-file-fixer

          - name: Check Â© headers
            id: headroom
            always_run: true
            language: system
            pass_filenames: false
            entry: headroom run

          - name: nix-linter
            id: nix-linter
            files: "\\.nix$"
            language: system
            entry: nix-linter

          - name: Format Nix files
            id: nixpkgs-fmt
            files: "\\.nix$"
            language: system
            entry: nixpkgs-fmt

          - name: Trim Trailing Whitespace
            id: trailing-whitespace
            types: [text]
            language: system
            entry: trailing-whitespace-fixer

chore(pre-commit): add TypeScript formatting hook
  .pre-commit-config.yaml
  .prettierrc
  src/Monarch/VirtualDom.ts
  src/Monarch/VirtualDom/Facts.ts
  src/Monarch/VirtualDom/Patch.ts
  src/Monarch/VirtualDom/ReorderHistory.ts
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: check-yaml

chore: fix direnv
  .envrc
  .gitignore
  shell.nix
Due: nix-linter, nixpkgs-fmt

chore: remove niv source from overlay
  nix/overlays.nix
Due: nix-linter, nixpkgs-fmt

chore: correct root path name
  nix/overlays.nix
Due: nix-linter, nixpkgs-fmt

chore: add yamllint
  .pre-commit-config.yaml
  .yamllint
  shell.nix
Due: check-yaml, nix-linter, nixpkgs-fmt

chore(pre-commit): format JSON and YAML files with prettier
  .github/workflows/style.yml
  .pre-commit-config.yaml
  .yamllint
  .yamllint.yaml
  package.json
Due: check-json, check-yaml

fix: fix some issues
  src/Monarch/Document.ts
  src/Monarch/VirtualDom.ts
  src/Monarch/VirtualDom/OutputHandlersList.ts
Due: none

refactor: naming and style chages
  src/Monarch/Document.ts
  src/Monarch/VirtualDom.ts
  src/Monarch/VirtualDom/DiffWork.ts
  src/Monarch/VirtualDom/OutputHandlersList.ts
Due: none

refactor: add missing type signature
  src/Monarch/Document.ts
Due: none

chore: run headroom
  src/Monarch/Command.purs
Due: none

performance: start view rendering in check phase
  package-lock.json
  package.json
  src/Monarch/Document.ts
Due: check-json

refactor: remove redundant files
  src/Monarch/Scheduler.purs
  src/Monarch/VirtualDom.purs
  src/Monarch/VirtualDom/OutputHandlersList.purs
Due: none

docs: document state
  src/Monarch/Document.ts
Due: none

feat: rewrite document in typescript
  src/Monarch/Document.ts
  src/Monarch/Scheduler.ts
  src/Monarch/VirtualDom.ts
  src/Monarch/VirtualDom/OutputHandlersList.ts
Due: none

style: use anonymous function for curried document function for convention
  src/Monarch/Document.ts
Due: none

chore: run Headroom
  src/Monarch/Document.ts
  src/Monarch/VirtualDom/DiffWork.ts
Due: none

refactor: first call of mkCommandRunner in higher binding level
  spago.dhall
  src/Monarch/Command.purs
  src/Monarch/Document.purs
  src/Monarch/Document.ts
Due: none

refactor: output with one output handler
  example/src/Counter/Main.purs
  src/Monarch/Document.purs
  src/Monarch/Document.ts
Due: none

feat: FFI document
  src/Monarch/Document.purs
  src/Monarch/Document.ts
Due: none

fix: command should run on every message
  src/Monarch/Document.ts
Due: none

feat: add command to document
  example/src/Counter/Main.purs
  src/Monarch.purs
  src/Monarch/Command.purs
  src/Monarch/Document.purs
  src/Monarch/Document.ts
  src/Monarch/Platform.purs
Due: none

refactor: rename unsafe_performDiffWork
  src/Monarch/Document.ts
Due: none

feat: add asap
  package-lock.json
  package.json
  src/Monarch/Document.ts
  src/types.d.ts
Due: check-json

feat: add output to command and document
  example/src/Counter/Main.purs
  src/Monarch.purs
  src/Monarch/Command.purs
  src/Monarch/Document.purs
  src/Monarch/Document.ts
Due: none

feat: remove time polyfill in Monarch.Scheduler
  src/Monarch/Scheduler.ts
  src/Monarch/VirtualDom.ts
Due: none

refactor: make state object for document states
  example/src/Counter/Main.purs
  src/Monarch/Document.ts
  src/Monarch/VirtualDom.ts
  src/types.d.ts
Due: none

refactor: rewrite bootstrap function with Record.merge
  src/Monarch/Document.purs
  src/Monarch/Document.ts
Due: none

refactor: fix some types
  src/Monarch/Document.ts
  src/Monarch/VirtualDom.ts
Due: none

style: use function declaration syntax for mkRootDiffWork function as a style convention
  src/Monarch/VirtualDom.ts
Due: none

chore(package-lock.json): update
  example/package-lock.json
Due: check-json

refactor: change runCommand parameters to take objects instead of curry
  example/src/Counter/Main.purs
  src/Monarch/Command.purs
  src/Monarch/Document.purs
  src/Monarch/Document.ts
Due: none

chore: set PRE_COMMIT_HOME to /tmp directory
  .envrc
Due: none

chore: move shellHook to the .envrc
  .envrc
  .pre-commit-config.yaml
  scripts/bootstrap.sh
  shell.nix
Due: check-yaml, nix-linter, nixpkgs-fmt

chore(shell): add bash language server
  shell.nix
Due: nix-linter, nixpkgs-fmt

style: fix
  src/Monarch/VirtualDom/DiffWork.ts
Due: none

chore: nixify
  .envrc
  .github/workflows/ci.yml
  .github/workflows/style.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierrc
  .yamllint.yaml
  README.md
  docs/media/logo-branded.svg
  nix/default.nix
  nix/overlays.nix
  nix/sources.json
  nix/sources.nix
  package-lock.json
  package.json
  scripts/bootstrap.sh
  shell.nix
  src/Monarch/Html/Facts/Properties.purs
  src/Monarch/VirtualDom.ts
  src/Monarch/VirtualDom/DiffWork.ts
  src/Monarch/VirtualDom/Facts.ts
  src/Monarch/VirtualDom/NS.purs
  src/Monarch/VirtualDom/Patch.ts
  src/Monarch/VirtualDom/ReorderHistory.ts
  src/Monarch/VirtualDom/VirtualDomTree.ts
Due: check-json, check-yaml, nix-linter, nixpkgs-fmt

chore: nix flake
  .envrc
  .gitignore
  flake.lock
  flake.nix
  nix/default.nix
  nix/overlays.nix
  nix/sources.json
  nix/sources.nix
  shell.nix
Due: check-json, nix-linter, nixpkgs-fmt

ci: use nix flake
  .github/workflows/ci.yml
  .github/workflows/style.yml
Due: check-yaml
